#
# Source Distribution Manifest
#
# More at https://docs.python.org/2/distutils/sourcedist.html

include README.md LICENSE *-requirements.txt .env .gitignore
include TODO.md .dockerignore Dockerfile.* build.sh

recursive-include debian *
prune debian/.debhelper
prune debian/jupyterhub

recursive-include etc *
recursive-include scripts *
recursive-include systemd *.service
recursive-include docs/_static/img *.md *.png *.svg *.graphml
recursive-include docs/tests *.ipynb
recursive-include docs/examples *.ipynb *.conf
recursive-include Docker Dockerfile README.md

global-exclude *~ *.swp *debhelper* *.substvars files *-checkpoint.ipynb
