[Unit]
Description=jupyterhub Service
Documentation=https://jupyterhub.readthedocs.io/en/stable/
Documentation=https://github.com/1and1/debianized-jupyterhub#jupyterhub-debian-packaging
After=network.target
#Requires=jupyterhub-worker.service
#Requires=jupyterhub-cron.service

[Service]
Type=simple
User=jupyterhub
Group=daemon
WorkingDirectory=/var/opt/jupyterhub
EnvironmentFile=/etc/default/jupyterhub
ExecStart=/usr/sbin/jupyterhub-launcher

[Install]
WantedBy=multi-user.target
