Source: jupyterhub
Section: contrib/python
Priority: extra
Maintainer: 1&1 Group <jh@web.de>
Build-Depends: debhelper (>= 9), python3, dh-virtualenv (>= 1.1),
    curl, tar, gzip, lsb-release, libparse-debianchangelog-perl,
    nodejs (>= 8), nodejs (<< 11),
    python3-setuptools, python3-pip, python3-dev, libffi-dev,
    libxml2-dev, libxslt1-dev, libyaml-dev, libjpeg-dev,
    libssl-dev, libncurses5-dev, libncursesw5-dev, libzmq3-dev,
    libfreetype6-dev
Standards-Version: 3.9.5
Homepage: https://github.com/1and1/debianized-jupyterhub
#Vcs-Git: https://github.com/1and1/debianized-jupyterhub.git
#Vcs-Browser: https://github.com/1and1/debianized-jupyterhub

Package: jupyterhub
Architecture: any
Pre-Depends: dpkg (>= 1.16.1), python3 (>= 3.5), ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${perl:Depends}, ${misc:Depends},
    python3-tk (>= 3.5), nodejs (>= 8), nodejs (<< 11), sudo | sudo-ldap
Suggests: oracle-java8-jre | openjdk-8-jre | zulu-8, fonts-humor-sans
Description: Debian packaging of JupyterHub, a multi-user server for Jupyter notebooks.
    .
    With JupyterHub you can create a multi-user Hub which spawns,
    manages, and proxies multiple instances of the single-user
    Jupyter notebook server.
    .
    Project Jupyter created JupyterHub to support many users.
    The Hub can offer notebook servers to a class of students,
    a corporate data science workgroup, a scientific research
    project, or a high performance computing group.
    .
    This is a self-contained Python3 venv wrapped into a Debian package
    (an "omnibus" package, all passengers on board).
