#!/usr/bin/make -f
#
# Build Debian package using https://github.com/spotify/dh-virtualenv

export DH_VIRTUALENV_INSTALL_ROOT=/opt/venvs
EXTRA_REQUIREMENTS=--upgrade-pip --preinstall "setuptools>=17.1" --preinstall "wheel" \
    --preinstall "Cython==0.28.4" --extras viz
NODEENV_VERSION=1.3.1

ifeq (1,$(shell grep -iscm1 xenial /etc/os-release))
    # On Xenial, install "python3.6 python3.6-tk" from Deadsnakes PPA
    SNAKE=/usr/bin/python3.6
else
    SNAKE=/usr/bin/python3
endif

PACKAGE=$(shell dh_listpackages)
VERSION=$(shell parsechangelog | grep ^Version: | sed -re 's/[^0-9]+([^-]+).*/\1/')
DH_VENV_ARGS=--setuptools --python $(SNAKE) $(EXTRA_REQUIREMENTS)
           # --extra-pip-arg "--no-binary=psycopg2" \
           # -v
DH_VENV_DIR=debian/$(PACKAGE)$(DH_VIRTUALENV_INSTALL_ROOT)/$(PACKAGE)

ifeq (,$(wildcard $(CURDIR)/.npmrc))
    NPM_CONFIG=~/.npmrc
else
    NPM_CONFIG=$(CURDIR)/.npmrc
endif


%:
	dh $@ --with python-virtualenv

.PHONY: override_dh_virtualenv override_dh_strip override_dh_shlibdeps

override_dh_virtualenv:
	dh_virtualenv $(DH_VENV_ARGS)
	$(DH_VENV_DIR)/bin/python $(DH_VENV_DIR)/bin/pip install nodeenv==$(NODEENV_VERSION)
	$(DH_VENV_DIR)/bin/nodeenv -C '' -p -n system
	. $(DH_VENV_DIR)/bin/activate && node /usr/bin/npm install --userconfig=$(NPM_CONFIG) -g configurable-http-proxy

override_dh_strip:
	dh_strip --exclude=cffi

override_dh_shlibdeps:
	dh_shlibdeps -X/x86/ -X/numpy/.libs -X/scipy/.libs -X/matplotlib/.libs
